@import "_m_variables.css";



.navbar-light .navbar-toggler-icon {
    background-image: none;
}

.navbar-icon-esileht {
    width: 1.125rem;
    background-image: url(../img/hamburgerimenyy_laine.svg) !important;
}

.navbar-toggler-esileht {
    width: 3rem;
    height: 3rem;
    background-color: var(--primary-100);
    border-radius: 3rem;
}

.muudab-varvi {
    filter: invert(50%);
}

/* 
HAMBURGER BUTTON 
*/
.navbar-light .navbar-toggler-esileht {
    transition: background-color 1s;
}

.navbar-light .navbar-toggler-esileht:hover {
    background-color: var(--primary-120);
}

.fp-viewing-raamatud .navbar-light .navbar-toggler-esileht,
.fp-viewing-teatrikavad .navbar-light .navbar-toggler-esileht,
.fp-viewing-naitused .navbar-light .navbar-toggler-esileht {
    background-color: var(--secondary-100);
}

.fp-viewing-raamatud .navbar-light .navbar-toggler-esileht:hover,
.fp-viewing-teatrikavad .navbar-light .navbar-toggler-esileht:hover,
.fp-viewing-naitused .navbar-light .navbar-toggler-esileht:hover {
    background-color: var(--secondary-120);
}
/* 
HAMBURGER BUTTON 
*/

.navbar-brand img {
    transition: opacity 1s;
    opacity: 0;
}

body:not(.fp-viewing-0) .navbar-brand img {
    opacity: 1;
}

.navbar-toggler-nonfocus:focus,
.btn:focus {
    outline: none;
    box-shadow: none;
}

.carousel-indicators-raamatud [data-bs-target] {
    height: 0.25rem;
    width: 1, 5rem;
    background-color: var(--secondary-100);
}

.carousel-indicators-plakatid [data-bs-target] {
    height: 0.25rem;
    width: 1, 5rem;
    background-color: var(--primary-100);
}

.carousel-control-prev-icon-must {
    background-image: url(../img/nool_vasakule_tume.svg);
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    opacity: 0.7;
}

.carousel-control-next-icon-must {
    background-image: url(../img/nool_paremale_tume.svg);
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    opacity: 0.7;
}
.carousel-control-prev-icon-valge {
    background-image: url(../img/nool_vaskule_valge.svg);
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    opacity: 0.7;
}

.carousel-control-next-icon-valge {
    background-image: url(../img/nool_paremale_valge.svg);
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    opacity: 0.7;
}

.btn-nool-alla {
    height: 5.375rem;
    background: url("../img/nool_alla.svg") no-repeat top center;
}

.btn-nool-alla:hover {

    background: url("../img/nool_alla_2.svg") no-repeat top center;
}



/* 
Siit algab MINU TÖÖD 
*/

.navbar-icon-kontakt {
    width: 1.125rem;
        background-image: url(../img/rist_valge.svg) !important;
}

.navbar-toggler-kontakt {
    width: 3rem;
    height: 3rem;
    background-color: var(--white);
    border-radius: 3rem;
}
.navbar-toggler-kontakt:hover {
    width: 3rem;
    height: 3rem;
    background-color: var(--primary-120);
    background-image: url(../img/rist_valge.svg) no-repeat;
    border-radius: 3rem;
}

/* 
Siit algab TUTVUSTUS 
*/
.navbar-icon-tutvustus {
    width: 1.125rem;
    background-image: url(../img/Hamburgerimenyy_laine_tutvustus.svg) !important;
}

.navbar-toggler-tutvustus {
    width: 3rem;
    height: 3rem;
    background-color: var(--white);
    border-radius: 3rem;
}

.navbar-toggler-tutvustus:hover {
    width: 3rem;
    height: 3rem;
    background-color: var(--secondary-120);
    border-radius: 3rem;
}

/* 
* Siit algab TÖÖDE GALERII 
*/

.navbar-icon-toode-galerii {
    width: 1.125rem;
    background-image: url(../img/hamburgerimenyy_laine.svg) !important;
}

.navbar-toggler-toode-galerii {
    width: 3rem;
    height: 3rem;
    background-color: var(--secondary-100);
    border-radius: 3rem;
}

.navbar-toggler-toode-galerii:hover {
    width: 3rem;
    height: 3rem;
    background-color: var(--secondary-120);
    border-radius: 3rem;
}

/* 
Siit algavad TÖÖDE DETAILVAATED
 */

 .navbar-icon-tood-eraldi-sinine {
    width: 1.125rem;
        background-image: url(../img/rist_sinisel.svg) !important;
}

.navbar-toggler-tood-eraldi-sinine {
    width: 3rem;
    height: 3rem;
    background-color: var(--secondary-100);
    border-radius: 3rem;
}
.navbar-toggler-tood-eraldi-sinine:hover {
    width: 3rem;
    height: 3rem;
    background-color: var(--secondary-120);
    background-image: url(../img/rist_valge.svg) no-repeat;
    border-radius: 3rem;
}

.navbar-toggler-tood-eraldi-roosa {
    width: 3rem;
    height: 3rem;
    background-color: var(--primary-100);
    border-radius: 3rem;
}
.navbar-toggler-tood-eraldi-roosa:hover {
    width: 3rem;
    height: 3rem;
    background-color: var(--primary-120);
    background-image: url(../img/rist_valge.svg) no-repeat;
    border-radius: 3rem;
}

.btn-nool {
    border-radius: 0%;
    min-width: 10rem;
}

.btn-nool:hover {
    background-color: var(--gray-10);
    border-radius: 0%;
    min-width: 10rem;  
}

.btn-nool:hover img {
    content: url(../img/nool_detalil_vasakule_must.svg);    
}

.btn-nool:hover span {
    color: var(--black-110);
}

.btn-nool span {
    margin-left: 1rem;
    color: var(--gray-10);
}

.btn-nool span:hover {
    margin-left: 1rem;
    color: var(--black-110);    
}

.nool-paremale span {
    margin-right: 1rem;
}

.nool-paremale:hover img {
    content: url(../img/nool_detail_paremale_must.svg);    
}