:root {
    --mouse-x: 0px;
    --mouse-y: 0px;
}

.cursor-follower {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 0.5rem;
    height: 0.5rem;
    top: 0;
    left: 0;
    /* border: 1px solid grey; */
    border-radius: 50%;
    transform-origin: center center;
    transform: scale(0);
    pointer-events: none;
    overflow: hidden;

}
.cursor-follower .message {
    display: block;
    font-family: "Big Shoulders Display", Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 600;
    text-align: center;
    color: black;
    opacity: 0;
    transform: scale(0);
}
