

#sec-1 {
    background: url("../img/hero_meri.jpg") no-repeat center bottom;
    background-size: cover;
}

.section-dark {
    background: url("../img/tume_taust.jpg") no-repeat center bottom;
    background-size: cover;
}

.section-light {
    background: url("../img/hele_taust.jpg") no-repeat center bottom;
    background-size: cover;
}

#sec-1 > .fp-tableCell {
    vertical-align: top;
 }

 #sec-2 > .fp-tableCell {
    vertical-align: top;
 }

/* Seda logo kohta tuleb vaadata!/ */
 
.row-logo {
    vertical-align: right;
    padding: 19.375rem 0rem 9.375rem 8.5rem;
}



.section-main {
    padding:0px 8.5rem 0px 8.5rem;
}

.navbar-esileht {
    margin: 2.25rem 8.5rem 0px 8.5rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
}

/* .navbar-kaks {
    margin:
} */

/* .container-heading {
    margin-top: 500px;
}

.my-container-yks {
    height: 500px;
} */

/* .carousel-slide {
    size: 50%;
} */

/* see asi vähemalt mõjub, erinevalt kõigele muule */
/* .carousel-indicators {
    bottom: 100px;
} */

/* .carousel-inner {
    height: 300px;
} */

/* footer */
.footer {
    height: 18.938rem;
}

#sec-footer {
    background-image: url("../img/meri_laiem_footer.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-header{
    margin-bottom: 0,5rem;
    align-items: center;
    opacity: 0.25;
    color: var(--white);

}


.section-header-valgel{
    margin-bottom: 0,5rem;
    align-items: center;
    opacity: 0.5;
    color: var(--black-110);

}

.row-footer {
    text-align: center;
    color: var(--white);
}

.col-logo-footer {
   margin top: 5rem;
}

.row-nool {
    margin-bottom: 5rem;
}